<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyGenie Features</title>
    <link rel="stylesheet" href="../static/features.css">
</head>

<body>
   
    <nav class="navbar">
        <a href="/profile" class="profile-link">Your Profile</a>
        <a href="/logout" class="logout">LogOut</a>
    </nav>


    <section class="features-section">
        <h2 class="section-title">✨ What You Get with StudyGenie</h2>

        <div class="features-grid">
            <!-- Block 1 -->
            <a href="/pdfsumm" class="feature-card none">
                <h3>📚 SnapNotes</h3>
                <p>
                    Take a PDF, get snappy notes + quizzes
                </p>
            </a>
            <a href="/flashcards" class="feature-card none">
                <h3>♦️ Flashcard</h3>
                <p>
                    Revise your notes with Flashcards
                </p>
            </a>
            <!-- Block 2 -->
            <a href="/language" class="feature-card none">
                <h3>📝 LinguaSnap</h3>
                <p>
                    Quick summaries in your language.
                </p>
            </a>

            <a href="/storyy" class="feature-card none">
                <h3>📚 Story</h3>
                <p>
                    Turn any PDF into an engaging, easy-to-read story with our AI-powered generator.
                </p>
            </a>
            

        </div>
        
    </section>

</body>

</html>