<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI FlashCard Generator</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename ='flashcard.css') }} ">
</head>

<body>
    <div class="container">
        <h1>AI FlashCard Generator</h1><br>
        <!-- <form action="url_for('flashcard.flashcards')" method="post" enctype="multipart/form-data" id="form"> -->
        <form action="/flashcards" method="post" enctype="multipart/form-data" id="form">
            <input type="file" name="pdffile" id="pdf_file" accept=".pdf"><br>
            <input type="number" name="n_cards" placeholder="How many FlashCards you want ? (Default = 10)"><br><br>
            <button type="submit">Generate FlashCards</button><br><br>
        </form>

        <div id="loader" style="display:none;">
            <div class="spinner"></div>
        </div>
        <script>
            document.getElementById("form").addEventListener("submit", function () {
                document.getElementById("loader").style.display = "flex";
            });
        </script>

        <div>

            {% for card in flashcard %}

            <div class="flashcard" onclick="this.classList.toggle('flipped')">

                <div class="flashcard-inner">

                    <div class="flashcard-front">{{ card.q }}</div>
                    <div class="flashcard-back">{{ card.a }}</div>

                </div>

            </div>

            {% endfor %}
        </div>

    </div>
</body>

</html>